<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :url, :disabled => link.id, placeholder: "Paste here your url" %>
  </div>
  <div>

    <%= form.submit "Shortenize it !" , :disabled => link.id %>

  </div>
<% end %>

<% if link.url_hash %>
  <div id="shortened_url">
    <a target="_blank" href="<%= redirect_url_for_hash link.url_hash %>"><%= redirect_url_for_hash link.url_hash %></a>
  </div>
<% end %>
