<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url, :disabled => link.id %>
  </div>
  <% if link.id %>
  <div>
    <%= form.label :url_hash, style: "display: block" %>
    <%= form.text_field :url_hash, :disabled => true %>
  </div>
  <% end %>

  <div>
    <%= form.submit if !link.id %>
  </div>
<% end %>
